.footer {
  padding: 12.8rem 0;
  background-color: #bd5300;
  /* border-top: 1px solid #eee; */

  font-family: Poppins;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.guru_in_foot {
  width: 100%;
  display: flex;
  padding-left: 2rem;
}

.trusted_seals_text {
  width: 206px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: 0.2rem;
  padding-left: 1rem;
  margin-top: 1rem;
}

.trusted_seals {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.footer_guru_text {
  padding: 1.2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--footer {
  grid-template-columns: 1.5fr 1fr 1fr 2fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social_links {
  padding: 1rem;
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer_heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 0.5rem;
}

.mt_2 {
  margin-top: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
