.container {
  margin: 2rem 10rem;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-direction: column;
}

.text_container {
  display: flex;
  align-items: center;
  gap: 2rem;

  font-family: "Sansation";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.28;

  letter-spacing: 0.085em;
  color: #d97122;
}
.star {
  height: 2rem;
}

/* Chakra */

.chakra_container {
  overflow: hidden;

  background-image: url("../../assets/body/chakra/chakra_sun.png");
  background-repeat: no-repeat;
  background-position: center;
}
.chakra_circle {
  position: relative;
  animation: rotation 15s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.chakra_sun {
  position: absolute;
  /* right: 10; */
  /* left: 0;
  top: 0;
  right: 0;
  bottom: 0; */
}
